body {
	background: #2E3440;
	text-align: center;
	font-family: 'Roboto';
}

h1 {
	color: #ECEFF4;
	font-weight: 800;
}

#enter {
	border: none;
	color: #2E3440;
	background-color: #2E3440;
}

ul {
    text-align: left;
    margin: 20px auto;
    width: 80%;
}


li {
    list-style: none;
    max-width: 50%;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
	color: #2E3440;
	font-weight: 600;
	background: #EBCB8B;
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25 ease;
}

li:hover {
	background: #D08770;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #2E3440;
	font-weight: 800;
}

input {
	min-width: 65%;
	padding: 5px;
	border: none;
}


.done {
	background: #a3be8c !important;
    color: #2E3440;
    text-decoration: line-through;
    opacity: 0.8;
}

.delete {
	display: none;
}